:root {
  --header-height: 118px;
  --header-z-index: 100;
  --divider-margin: 24px;
  --background-color: #fff;
}

html,
body,
main {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#__next > main {
  flex: 1 1 auto;
  margin-top: calc(2 * var(--divider-margin) - 4px);
}

.ant-dropdown-menu span[role="img"] {
  margin-right: 1rem !important;
}

.ant-dropdown-menu .ant-divider {
  margin: 0;
}

header .ant-affix {
  z-index: var(--header-z-index);
  background-color: var(--background-color);
}

.ant-dropdown.container {
  left: 0 !important;
}
